<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_left(name)">
    <div class="left-sidebar-pro">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="#"><img src="img/message/1.jpg" alt=""/>
                </a>
                <h3>Andrar Son</h3>
                <p>Developer</p>
                <strong>AP+</strong>
            </div>
            <div class="left-custom-menu-adp-wrap">
                <ul class="nav navbar-nav left-sidebar-menu-pro">
                    <li class="nav-item">
                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                           class="nav-link dropdown-toggle"><i class="fa big-icon fa-home"></i> <span
                                class="mini-dn">人员</span>
                            <span class="indicator-right-menu mini-dn"><i
                                    class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                            <a th:href="@{/view/user/list}" class="dropdown-item">人员关联</a>
                            <a th:href="@{/view/user/list}" class="dropdown-item">人员列表</a>
                            <a th:href="@{/view/user/get/'null'}" class="dropdown-item">人员添加</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                            class="nav-link dropdown-toggle"><i class="fa big-icon fa-envelope"></i>
                        <span class="mini-dn">组</span> <span class="indicator-right-menu mini-dn"><i
                                class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                            <a th:href="@{/view/group/list}" class="dropdown-item">组列表</a>
                            <a th:href="@{/view/group/list}" class="dropdown-item">组关联</a>
                            <a th:href="@{/view/group/get/'null'}" class="dropdown-item">人员添加</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                            class="nav-link dropdown-toggle"><i class="fa big-icon fa-flask"></i> <span
                            class="mini-dn">权限</span> <span class="indicator-right-menu mini-dn"><i
                            class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                            <a th:href="@{/view/role/list}" class="dropdown-item">权限列表</a>
                            <a th:href="@{/view/role/list}" class="dropdown-item">权限关联</a>
                            <a th:href="@{/view/role/get/'null'}" class="dropdown-item">权限添加</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                            class="nav-link dropdown-toggle"><i class="fa big-icon fa-pie-chart"></i>
                        <span class="mini-dn">应用</span> <span class="indicator-right-menu mini-dn"><i
                                class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                            <a th:href="@{/view/type/list}" class="dropdown-item">应用关联</a>
                            <a th:href="@{/view/type/list}" class="dropdown-item">应用列表</a>
                            <a th:href="@{/view/type/get/'null'}" class="dropdown-item">应用添加</a>
                        </div>
                    </li>
                    <!--                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"-->
                    <!--                                            class="nav-link dropdown-toggle"><i class="fa big-icon fa-bar-chart-o"></i>-->
                    <!--                        <span class="mini-dn">配置</span> <span class="indicator-right-menu mini-dn"><i-->
                    <!--                                class="fa indicator-mn fa-angle-left"></i></span></a>-->
                    <!--                        <div role="menu" class="dropdown-menu left-menu-dropdown chart-left-menu-std animated flipInX">-->
                    <!--                            <a href="bar-charts.html" class="dropdown-item">Bar Charts</a>-->
                    <!--                            <a href="line-charts.html" class="dropdown-item">Line Charts</a>-->
                    <!--                            <a href="area-charts.html" class="dropdown-item">Area Charts</a>-->
                    <!--                            <a href="rounded-chart.html" class="dropdown-item">Rounded Charts</a>-->
                    <!--                            <a href="c3.html" class="dropdown-item">C3 Charts</a>-->
                    <!--                            <a href="sparkline.html" class="dropdown-item">Sparkline Charts</a>-->
                    <!--                            <a href="peity.html" class="dropdown-item">Peity Charts</a>-->
                    <!--                        </div>-->
                    <!--                    </li>-->
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                            class="nav-link dropdown-toggle"><i class="fa big-icon fa-table"></i> <span
                            class="mini-dn">安全策略</span> <span class="indicator-right-menu mini-dn"><i
                            class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                            <a href="static-table.html" class="dropdown-item">策略列表</a>
                            <a href="data-table.html" class="dropdown-item">策略管理</a>
                        </div>
                    </li>
                    <!--                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"-->
                    <!--                                            class="nav-link dropdown-toggle"><i class="fa big-icon fa-edit"></i> <span-->
                    <!--                            class="mini-dn">Forms Elements</span> <span class="indicator-right-menu mini-dn"><i-->
                    <!--                            class="fa indicator-mn fa-angle-left"></i></span></a>-->
                    <!--                        <div role="menu" class="dropdown-menu left-menu-dropdown form-left-menu-std animated flipInX">-->
                    <!--                            <a href="basic-form-element.html" class="dropdown-item">Basic Elements</a>-->
                    <!--                            <a href="advance-form-element.html" class="dropdown-item">Advance Elements</a>-->
                    <!--                            <a href="password-meter.html" class="dropdown-item">Password Meter</a>-->
                    <!--                            <a href="multi-upload.html" class="dropdown-item">Multi Upload</a>-->
                    <!--                            <a href="tinymc.html" class="dropdown-item">Text Editor</a>-->
                    <!--                            <a href="dual-list-box.html" class="dropdown-item">Dual List Box</a>-->
                    <!--                        </div>-->
                    <!--                    </li>-->
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                            class="nav-link dropdown-toggle"><i class="fa big-icon fa-desktop"></i>
                        <span class="mini-dn">App views</span> <span class="indicator-right-menu mini-dn"><i
                                class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown apps-left-menu-std animated flipInX">
                            <a href="notifications.html" class="dropdown-item">Notifications</a>
                            <a href="alerts.html" class="dropdown-item">Alerts</a>
                            <a href="modals.html" class="dropdown-item">Modals</a>
                            <a href="buttons.html" class="dropdown-item">Buttons</a>
                            <a href="tabs.html" class="dropdown-item">Tabs</a>
                            <a href="accordion.html" class="dropdown-item">Accordion</a>
                            <a href="tab-menus.html" class="dropdown-item">Tab Menus</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                            class="nav-link dropdown-toggle"><i class="fa big-icon fa-files-o"></i>
                        <span class="mini-dn">操作</span> <span class="indicator-right-menu mini-dn"><i
                                class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown pages-left-menu-std animated flipInX">
                            <a href="login.html" class="dropdown-item">登录</a>
                            <a href="register.html" class="dropdown-item">注册</a>
                            <a href="captcha.html" class="dropdown-item">Captcha</a>
                            <a href="checkout.html" class="dropdown-item">Checkout</a>
                            <a href="contact.html" class="dropdown-item">Contacts</a>
                            <a href="review.html" class="dropdown-item">Review</a>
                            <a href="order.html" class="dropdown-item">Order</a>
                            <a href="comment.html" class="dropdown-item">Comment</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</html>
