<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_js(scripts)">

    <!-- jquery
        ============================================ -->
    <script th:src="@{/js/vendor/jquery-1.11.3.min.js}"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script th:src="@{/js/jquery.meanmenu.js}"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <!-- sticky JS
        ============================================ -->
    <script th:src="@{/js/jquery.sticky.js}"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script th:src="@{/js/jquery.scrollUp.min.js}"></script>
    <!-- form validate JS
        ============================================ -->
    <script th:src="@{/js/jquery.form.min.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/form-active.js}"></script>
    <!-- main JS
        ============================================ -->
    <script th:src="@{/js/main.js}"></script>

    <script th:src="@{/js/wow/wow.min.js}"></script>

</div>

<div th:fragment="common_js_flot(scripts)">
    <!-- flot JS
    ============================================ -->
    <script th:src="@{/js/flot/jquery.flot.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.spline.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.resize.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.pie.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.symbol.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.time.js}"></script>
    <script th:src="@{/js/flot/dashtwo-flot-active.js}"></script>
</div>


<div th:fragment="common_js_table(scripts)">
    <script th:src="@{/js/data-table/bootstrap-table.js}"></script>
    <script th:src="@{/js/data-table/tableExport.js}"></script>
    <script th:src="@{/js/data-table/data-table-active.js}"></script>
    <script th:src="@{/js/data-table/bootstrap-table-editable.js}"></script>
    <script th:src="@{/js/data-table/bootstrap-editable.js}"></script>
    <script th:src="@{/js/data-table/bootstrap-table-resizable.js}"></script>
    <script th:src="@{/js/data-table/colResizable-1.5.source.js}"></script>
    <script th:src="@{/js/data-table/bootstrap-table-export.js}"></script>
</div>

<div th:fragment="common_js_counterup(scripts)">
    <!-- counterup JS
        ============================================ -->
    <script th:src="@{/js/counterup/jquery.counterup.min.js}"></script>
    <script th:src="@{/js/counterup/waypoints.min.js}"></script>
    <script th:src="@{/js/counterup/counterup-active.js}"></script>
</div>

<div th:fragment="common_js_jvectormap(scripts)">
    <!-- jvectormap JS
        ============================================ -->
    <script th:src="@{/js/jvectormap/jquery-jvectormap-2.0.2.min.js}"></script>
    <script th:src="@{/js/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
    <script th:src="@{/js/jvectormap/jvectormap-active.js}"></script>
</div>

<div th:fragment="common_js_peity(scripts)">
    <!-- peity JS
        ============================================ -->
    <script th:src="@{/js/peity/jquery.peity.min.js}"></script>
    <script th:src="@{/js/peity/peity-active.js}"></script>
</div>

<div th:fragment="common_js_sparkline(scripts)">
    <!-- sparkline JS
        ============================================ -->
    <script th:src="@{/js/sparkline/jquery.sparkline.min.js}"></script>
    <script th:src="@{/js/sparkline/sparkline-active.js}"></script>
</div>
</html>

